# =========================
# ROS files
# =========================
build/
devel/
logs/

# =========================
# Python
# =========================
__pycache__/
*.pyc

# =========================
# System files
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Jetson / temp
# =========================
*.log
*.bag

# =========================
# Misc
# =========================
*.swp